<div class="container">
	<div class="module-title">
		<div class="module-title-container">
			<span>注册成功</span>
		</div>
	</div>
	<div style="text-align: center; padding: 100px 0px 150px">
		<h1>感谢您注册成为苏州工业园区网球协会会员。网协工作人员审核通过后您将收到我们的确认短信。</h1>
	</div>
</div>