<div class="container">
	<div class="module-title">
		<div class="module-title-container">
			<span>网协换届</span>
		</div>
	</div>
	<div style="text-align: center; padding: 100px 0px 150px">
		<h1>苏州工业园区网球协会将于近期开始网协换届相关工作，并通过网站发布信息，请会员积极参与，协助网协完成换届工作。</h1>
	</div>
</div>