@media (min-width: 768px) and (max-width: 991px){
/* 小屏幕 Pad */
	.back_to_top{
		bottom: 100px;
	}
	.venue-module-name{
		font-size: 18px;
	}
	.new-module-content-title{
		font-size: 20px;
		margin-bottom: 6px;
		margin-top: 5px;
	}
	.home_competition_title{
		color: #00aeef;
		margin-top: 0px;
	}
	.new-module-content-sum{
		font-size: 14px;
	}
	.new-module-time{
		font-size: 14px;
	}
	.clubs-module, .venues-module, .coaches-module, .competitions-module{
		/*width: 50%;*/
		float: left;
		/*border: 1px solid #ECECEC;*/
	}
	.friend-module{
		/*border: 1px solid #ECECEC;*/
	}
	.friend-module-sum{
		margin-left: 16.3%;
	}
	.club-module-image{
		max-width: 124px;
		margin-left: 7px;
	}
	.coaches-module-image{
		max-width: 124px;
		margin-left: 7px;
	}
	.competition-module-image{
		max-width: 124px;
		margin-left: 7px;
	}
	.sm-show{
		display: block;
	}
	html.mm-right.mm-opening .mm-page, html.mm-right.mm-opening #mm-blocker{
		transform: translate(0px, 0px);
		-webkit-transform: translate(0, 0);
	}
	
	.essay-module-time{
		margin-top: 50px;
	}
	
	.edit-sm-border-bottom{
		border-bottom: none;
	}
	.home-friend-module-container{
		/*height: 1430px;*/
	}
	.friend-module-name{
		max-width: 100px;
	}
	.img-title{
		font-size: 30px;
	}
	.competition-module-content{
        /*padding-top: 10px;*/
    }
/* 小屏幕 Pad End */
}
