<div class="navbar">
	<div class="navbar-inner">
		<div class="navbar-container">
			<div class="navbar-header pull-left">
				<a class="navbar-brand" href="/">
					<small>
						<img src="/assets/home_logo.png">
					</small>
				</a>
			</div>
            <div id="sidebar-collapse" class="sidebar-collapse">
                <i class="collapse-icon icon-menu2"></i>
            </div>
		</div>
	</div>
</div>
