<footer class="home-footer">
	<div class="container">
		<div class="pull-left home-footer-logo">
			<img src="/assets/home_footer_icon.png">
		</div>
		<div class="pull-left home-footer-copyright">
			<span>© 2005 - <%=Time.new.year%>, 苏州工业园区网球协会 版权所有</span>
			<br/>
			<span>苏ICP备09093660号</span>
			<br/>
			<span>苏州誉隆信息技术有限公司 技术支持</span>
			<br/>
		</div>
		<!--<ul class="home-footer-contact">
			<li><a href="#"><img src="/assets/contact_google.png"></a></li>
			<li><a href="#"><img src="/assets/contact_tennis.png"></a></li>
			<li><a href="#"><img src="/assets/contact_twitter.png"></a></li>
			<li><a href="#"><img src="/assets/contact_facebook.png"></a></li>
		</ul>-->
	</div>
</footer>
